<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.dao.Pick_up_itemsMapper">
  <resultMap id="BaseResultMap" type="com.wechat.model.Pick_up_items">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="Description" jdbcType="VARCHAR" property="description" />
    <result column="Photo" jdbcType="VARCHAR" property="photo" />
    <result column="QQ" jdbcType="VARCHAR" property="qq" />
    <result column="Openid" jdbcType="VARCHAR" property="openid" />
    <result column="Release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="Item_type" jdbcType="VARCHAR" property="itemType" />
  </resultMap>





  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>



  <!-- openid 不能给-->
  <sql id="Base_Column_List">
    Id, Description, Photo, QQ, Release_time, Item_type
  </sql>



  <select id="selectByExample" parameterType="com.wechat.model.Pick_up_itemsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pick_up_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pick_up_items
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pick_up_items
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wechat.model.Pick_up_itemsExample">
    delete from pick_up_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wechat.model.Pick_up_items">
    insert into pick_up_items (Id, Description, Photo, 
      QQ, Openid, Release_time, 
      Item_type)
    values (#{id,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{releaseTime,jdbcType=TIMESTAMP}, 
      #{itemType,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.model.Pick_up_items">
    insert into pick_up_items
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="description != null">
        Description,
      </if>
      <if test="photo != null">
        Photo,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="openid != null">
        Openid,
      </if>
      <if test="releaseTime != null">
        Release_time,
      </if>
      <if test="itemType != null">
        Item_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemType != null">
        #{itemType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wechat.model.Pick_up_itemsExample" resultType="java.lang.Integer">
    select count(*) from pick_up_items
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>

  <select id="findPhototPathByItemId" resultType="java.lang.String">
    SELECT Photo
    from pick_photo_data
    where Id=#{id}
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update pick_up_items
    <set>
      <if test="record.id != null">
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.description != null">
        Description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null">
        Photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        QQ = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        Openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.releaseTime != null">
        Release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.itemType != null">
        Item_type = #{record.itemType,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pick_up_items
    set Id = #{record.id,jdbcType=INTEGER},
      Description = #{record.description,jdbcType=VARCHAR},
      Photo = #{record.photo,jdbcType=VARCHAR},
      QQ = #{record.qq,jdbcType=VARCHAR},
      Openid = #{record.openid,jdbcType=VARCHAR},
      Release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
      Item_type = #{record.itemType,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.model.Pick_up_items">
    update pick_up_items
    <set>
      <if test="description != null">
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="photo != null">
        Photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        Openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="releaseTime != null">
        Release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="itemType != null">
        Item_type = #{itemType,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.model.Pick_up_items">
    update pick_up_items
    set Description = #{description,jdbcType=VARCHAR},
      Photo = #{photo,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      Openid = #{openid,jdbcType=VARCHAR},
      Release_time = #{releaseTime,jdbcType=TIMESTAMP},
      Item_type = #{itemType,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>


  <select id="findOpenIDByItemId" resultType="string">
    SELECT Openid
    FROM pick_up_items
    WHERE Id = #{id}
  </select>

  <!-- 结果映射 -->
  <resultMap type="com.wechat.model.Pickitem_photo_user" id="itemandUserMap">
    <!--&lt;!&ndash;column指向数据库列名 property指向pojo对象中字段名 &ndash;&gt;-->
    <!--<result column="pid" property="pid" />-->
    <!--<result column="pname" property="pname" />-->
    <!--<result column="position" property="position" />-->
    <!--<result column="cid" property="cid" />-->

    <association property="pick_up_items" javaType="com.wechat.model.Pick_up_items">
      <id column="Id" jdbcType="INTEGER" property="id" />
      <result column="Description" jdbcType="VARCHAR" property="description" />
      <result column="Photo" jdbcType="VARCHAR" property="photo" />
      <result column="QQ" jdbcType="VARCHAR" property="qq" />
      <!--<result column="Openid" jdbcType="VARCHAR" property="openid" />-->
      <result column="Release_time" jdbcType="TIMESTAMP" property="releaseTime" />
      <result column="Item_type" jdbcType="VARCHAR" property="itemType" />
    </association>

    <association property="user" javaType="com.wechat.model.User">
      <!--<result column="aid" property="aid"/>-->
      <!--<result column="pid" property="pid"/>-->
      <!--<result column="shoot" property="shoot"/>-->
      <!--<id column="Openid" jdbcType="CHAR" property="openid" />-->
      <result column="Name" jdbcType="CHAR" property="name" />
      <result column="Gender" jdbcType="CHAR" property="gender" />
      <result column="Phone" jdbcType="CHAR" property="phone" />
      <result column="QQ" jdbcType="CHAR" property="qq" />
      <result column="Studentid" jdbcType="CHAR" property="studentid" />
    </association>
  </resultMap>

  <select id="selectAllitems" resultMap="itemandUserMap">
    SELECT *
    from User u JOIN pick_up_items p
    on u.Openid=p.Openid;
  </select>


</mapper>