<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wechat.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.wechat.model.User">
    <id column="Openid" jdbcType="CHAR" property="openid" />
    <result column="Name" jdbcType="CHAR" property="name" />
    <result column="Gender" jdbcType="CHAR" property="gender" />
    <result column="Phone" jdbcType="CHAR" property="phone" />
    <result column="QQ" jdbcType="CHAR" property="qq" />
    <result column="Studentid" jdbcType="CHAR" property="studentid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Openid, Name, Gender, Phone, QQ, Studentid
  </sql>
  <select id="selectByExample" parameterType="com.wechat.model.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where Openid = #{openid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where Openid = #{openid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.wechat.model.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wechat.model.User">
    insert into user (Openid, Name, Gender, 
      Phone, QQ, Studentid)
    values (#{openid,jdbcType=CHAR}, #{name,jdbcType=CHAR}, #{gender,jdbcType=CHAR}, 
      #{phone,jdbcType=CHAR}, #{qq,jdbcType=CHAR}, #{studentid,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wechat.model.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        Openid,
      </if>
      <if test="name != null">
        Name,
      </if>
      <if test="gender != null">
        Gender,
      </if>
      <if test="phone != null">
        Phone,
      </if>
      <if test="qq != null">
        QQ,
      </if>
      <if test="studentid != null">
        Studentid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="openid != null">
        #{openid,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=CHAR},
      </if>
      <if test="studentid != null">
        #{studentid,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wechat.model.UserExample" resultType="java.lang.Integer">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.openid != null">
        Openid = #{record.openid,jdbcType=CHAR},
      </if>
      <if test="record.name != null">
        Name = #{record.name,jdbcType=CHAR},
      </if>
      <if test="record.gender != null">
        Gender = #{record.gender,jdbcType=CHAR},
      </if>
      <if test="record.phone != null">
        Phone = #{record.phone,jdbcType=CHAR},
      </if>
      <if test="record.qq != null">
        QQ = #{record.qq,jdbcType=CHAR},
      </if>
      <if test="record.studentid != null">
        Studentid = #{record.studentid,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set Openid = #{record.openid,jdbcType=CHAR},
      Name = #{record.name,jdbcType=CHAR},
      Gender = #{record.gender,jdbcType=CHAR},
      Phone = #{record.phone,jdbcType=CHAR},
      QQ = #{record.qq,jdbcType=CHAR},
      Studentid = #{record.studentid,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wechat.model.User">
    update user
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=CHAR},
      </if>
      <if test="gender != null">
        Gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        Phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="qq != null">
        QQ = #{qq,jdbcType=CHAR},
      </if>
      <if test="studentid != null">
        Studentid = #{studentid,jdbcType=CHAR},
      </if>
    </set>
    where Openid = #{openid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wechat.model.User">
    update user
    set Name = #{name,jdbcType=CHAR},
      Gender = #{gender,jdbcType=CHAR},
      Phone = #{phone,jdbcType=CHAR},
      QQ = #{qq,jdbcType=CHAR},
      Studentid = #{studentid,jdbcType=CHAR}
    where Openid = #{openid,jdbcType=CHAR}
  </update>

</mapper>